# core dependencies
pytorch>=1.5.0
albumentations
kornia
numpy

# utils
torchvision>=0.6.0
tqdm
ipython
jupyter
matplotlib
torchsummary
torch_lr_finder
pyyaml

# test
pytest>=5.1.2
pytest-flake8
pytest-cov
pytest-mypy
autopep8
pydocstyle

# docs
sphinx
sphinx_rtd_theme

